@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chakra Petch', sans-serif;
}

body{

	display: flex;
}

header{

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: #111418;
	flex: 20%;
	height: 100vh;
	color: white;
	transition: all 1s;
}

.cara{

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.cara .cm{

	display: none;
}

.cir{

	clip-path: circle(38% at 50% 50%);
	background-image: url(galeria/doña.jpg);
	background-position: 109% 50%;
	background-size: 115%;
	background-repeat: no-repeat;
	width: 275px;
	height: 275px;
}

.cara h1{

	font-size: 35px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	letter-spacing: 0.2em;
	font-weight: normal;
	color:#1DAD83;
	margin: 0 15px;
}

.cara h1:hover{

	font-size: 40px;
	color:white;
	transition: all 1s;
}

.enlaces{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 0 10px 0;
}

.enlaces a{

	text-decoration: none;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	width: 100%;
}

.enlaces a:hover{

	font-size: 25px;
	color:#1DAD83;
	transition: all ease-in-out 1s;
}

.iconos{

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	gap: 20px;
}

.fa-facebook-f:hover{

	color:#1DAD83;
	transition: all 1s;
}

.fa-twitter:hover{

	color:#1DAD83;
	transition: all 1s;
}

.fa-instagram:hover{

	color:#1DAD83;
	transition: all 1s;	
}

.fa-github:hover{

	color:#1DAD83;
	transition: all 1s;
}

.menu{

	font-size: 50px;
	color: white;
	display: none;
}

main{

	flex: 80%;
}

.primer{

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 70%;
	height: 100vh;
	background-image: url(galeria/pexels-mateusz-dach-450035.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.segun{

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay{

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
}

.desc{

	color: white;
	text-align: center;
	z-index: 1;
}

.desc h1{

	font-size: 60px;
	padding: 10px;
}

.desc p{

	font-size: 30px;
	padding: 10px;
}

.desc a{

	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	color: #1DAD83;
	border: #1DAD83 solid 3px;
	border-radius: 30px;
	padding: 10px;
	margin: 20px;
	transition: all 1s;
}

.desc a:hover{

	background-color:#1DAD83;
	color: white;
	font-size: 35px;
	transition: all 1s;
}

.enlaces.show{

	right: 0vh;
}

@media screen and (max-width: 900px){

	body{

		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	header{

		display: flex;
		flex: 20%;
	}

	nav{

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.menu{

		display: inline-block;
		font-size: 28px;
		margin-right: 10px;
	}

	.enlaces{

		height: 95%;
		position: fixed;
		top: 50px;
		right: -100vw;
		width: 100%;
		margin: 0;
		background-color: #111418;
		transition: all 1s;
		z-index: 1;
	}

	.enlaces a{

		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		text-align: center;
	}

	.cara{

		margin: 0;
	}

	.cara .cm{

		display: inline-block;
		font-size: 40px;
		margin-left: 20px;
	}

	.cara h1{

		display: none;
	}

	.cir{

		display: none;
	}

	.iconos{

		font-size: 20px;
		gap: 25px;
	}

	.desc{

		z-index: 0;
	}
}